body, html {
	margin: 0;
    padding: 0;
}

.container {
	display: flex;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.form-container {
	background-color: #F7F9FB;
	width: 60%;
	margin: 0;
}

.imagen-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	background-color: #EE9700;
	margin: 0;
}

img {
	width: 50%;
	border-radius: 100%;
}

.linkFooter{
	text-decoration: none;
	color: #EE9700;
}

.container-footer {
	margin-top: 81vh;
	color: #607488;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.container-footer > p {
	margin: 0;
}

form {
	border: 2px blue solid;
}