


* {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

/* TRABAJO CON EL TEXTO */

html{
    font-size: 16px;
}

.contenidoTexto{

    display: flex;
    flex-direction: column;
    float: right;
    width: 45%;
    padding: 2em;
    background-color: rgba(223, 222, 222, 0.11);
    margin-top: 2em;
    box-sizing: border-box;
 
}


.titulo{

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    
}


.descripcion{
    padding-top: 10px;
    font-size: 1em;
    font-weight: 700;
}

.costo{

    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-shadow: 0 0 0px rgb(255, 249, 249), 0 0 2px rgb(177, 175, 175), 0 0 30px rgb(248, 247, 255), 0 0 50px rgb(238, 234, 237)
    
}
/* boton de carrito */


.botoncarrito{
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    border:none;
    color: white;
    font-weight: 700;
    background-color: #F09100;
    box-shadow:3px 3px 3px #0000003d
}

/* boton de cantidad de objetos */

#cantidad{
    width: 10%;
   padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 5%;
    border:none;
    color: white;
    font-weight: 700;
    background-color: #212529;;
    box-shadow:3px 3px 3px #0000003d

}

.botoncarrito:hover{

    background-color: #212529;
    transition: 0.2s;
}

/* trabajo con imagenes */
.mainImg{

    width: 50%;
    margin-top: 3em;
   

}

.mainImg img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 3px 3px #0000003d;
    border: solid lightgrey 1px;
}

.carrusel{
    width: 100%;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline
    
}

.carrusel img{
    
    margin: 7px;
    width: 100%;
    max-width: 80px;
    border-radius: 5px;
    box-shadow:3px 3px 3px #0000003d;
    border: solid lightgrey 1px;
    cursor: pointer;
}

/* seccion de comentarios */


.mainComments h2{

    margin-top: .5em; 
    margin: .8em 0; 
    font-family: 'Poppins', sans-serif;

}


#divComentarios{

    font-size: 1em;
    background-color: rgba(219, 219, 219, 0.11);
    font-weight: 700;
}

#divComentarios span{
    font-family: 'Poppins', sans-serif;
    
    
}


.comment{
    border: solid 0.5px lightgrey;
    border-bottom: none;
    padding: 20px;
    margin-top: -1px;
}

.imputName {
 
   font-weight: bolder;
   padding-bottom: 10px;
   font-size: 1.2em;
   padding-right: 2px;

}

/*@media (max-width: 768px){
    .contenidoTexto{
        width: 100%;
        float: none;
    }

    .mainImg{
        width: 100%;
    
    }

    .carrusel img {
        width: 80%;
        max-width: 180px;
    }
}*/

.botonEnviar{

    padding: .5em;
    margin-top: 1em;
    border-radius: 8px;
    box-shadow: 0px 3px 3px #0000003d;
    border: solid lightgrey 1px;
    color:white;
    background-color: #F09100;
    font-weight: bold;
}

.botonEnviar:hover{

    background-color: #212529;
    transition: 0.2s;
}

@media (max-width: 768px){
    .contenidoTexto{
        width: 100%;
        float: none;
    }

    .mainImg{
        width: 100%;
    
    }

    .carrusel img {
        width: 80%;
        max-width: 180px;
    }


}


h2{
    margin-bottom: .8em;
    margin-top: .8em;
    font-family: 'Poppins', sans-serif;

}

#comment-form{

    margin-top: .8em;
    width: 50%;
    background-color: rgba(223, 222, 222, 0.11);
    padding: .5em 1em;
    display: inline-block;
    min-width: 100px;

}

#username, #rating, #comment{
    border:solid 0.5px lightgrey; 
    
}

#comment {
    width:100%;
}


a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-bottom: .4em;
    cursor: pointer;
}
