:root {
    --color: rgb(235, 235, 235);
}

* {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* NAV */

#login {
    padding-top: 0.45rem;
}

#login a{
    color: white;
}
    
#login a:hover {
    color: #ff9b05;
    cursor: pointer;
}
/* Fin NAV */

/* BODY */
body {
    background-color: var(--color);
}


.fichas{
    margin: 3% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/* ASIDE */
    aside{   
        height: fit-content;
        width:25%;
        background-color: #F09100;
        padding: min(1.4rem, 3%);  
        margin-top: 1.2rem;
        border-radius: .7rem;
    }
    aside p{
        margin-bottom: 1.5rem;
    }
    aside select{
        border-radius: .3rem;
        height:1.9rem;
    }
    aside input, aside select{
        width: 100%;
        margin-top: .5rem;
        border-radius: .3rem;
        border-color: transparent;
    }
    aside button{
        border-color: transparent;
        border-radius: .3rem;
    }
    .centrado{
        text-align: center;
    }

    /* Cuando la Pantalla se achica se mueve el aside para arriba */
    @media screen and (max-width:992px){

        .fichas{
            flex-flow: column nowrap;
        }

        aside{   
            height: fit-content;
            width:calc(100% - 2.4rem);
            box-sizing:border-box;
            margin: 1.2rem;
        }

        aside *{
            text-align: center;
        }

        aside p{
            margin-bottom: .3rem;
        }

        aside input, aside select{
            width: 70%;
            margin-top: .1rem;
        }

    }
/* FIN ASIDE */





/* MAIN */
.contenedor {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* width:75%; */
    height: 80%;
    gap: 1.2em  ;
    padding: 1.2em;
}

/* FICHAS */

    .articulo {
        border-radius: 8px;
        background-color: rgb(249, 250, 251);
        box-shadow: 1px 1px 10px lightgray;
        border-top-left-radius: .7em;
        border-top-right-radius: .7em;
        
    }

    .articulo img {
        width: 100%;
        border-top-left-radius: .7em;
        border-top-right-radius: .7em;

    }

    /* No necesario?
    .imagenDeArticulo {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    } */

    .dinero {
        font-weight: bold;
        font-size: 1.6rem;
    }

    .botonDeAgregar {
        margin-right: 10%;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: var(--color);
        border: 2px solid var(--color);
        font-size: 1.1rem;
    }

    .titulo {
        padding-right: .4em;
        font-size: 1.5rem;
        font-weight: 550;
        font-weight: bold;
    }

    .descDeArticulo {
        
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .articulo:hover {
        cursor: pointer;
        box-shadow: 8px 8px 2px rgba(211, 211, 211, 0.562), 0px 0px 20px 5px rgba(0, 0, 0, 0.13);
        transition: 0.2s;
    }

    .botonDeAgregar:hover {
        box-shadow: 1px 1px 5px lightgray;
        transition: .1s;
        border: 2px solid rgb(222, 222, 222);
        background-color: #F09100;
        color: aliceblue;
    }


    /*descripcion y soldcount*/

    .descripcion {
        font-size:  1.05rem;
        font-weight: 400;
        padding-right: 0.8rem;
    }

    .sold{
        font-size:  1rem;
        font-weight: 550;
    }

    /* FIN FICHAS */

 /* FIN MAIN */

/*pongan comentarios de las partes porfas <3*/